@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@semi-bot/semi-theme-test/semi.min.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* .semi-button-primary {
  background-color: rgba(var(--semi-indigo-3), 1) !important;
  color: white !important;
}

.semi-button-primary:hover {
  background-color: rgba(var(--semi-indigo-4), 1) !important;
} */

body {
  color: var(--semi-color-text-0);
  background-color: var(--semi-color-bg-0);
  position: relative;
}
